<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>四軸控制</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="image">
        <img width="500px" src="file:///home/mros/Pictures/羽毛.jpg" alt="四軸即時影像" />
<!--        <img width="500px" src="file:///home/mros/Pictures/randomwalls.jpg" alt="四軸即時影像" />-->
    </div>
    <div id="control">
        <div id="arrow-up"></div>
        <div id="arrow-left"></div>
        <div id="arrow-right"></div>
        <div id="arrow-down"></div>
    </div>
    
    <script type="text/javascript" src="control.js"></script>
</body>
</html>
